kestra/03b_kestra_gcs_ingestion_child.yaml
id: 02_gcp_kestra_ingestion
namespace: tutorial
description: |
  "Ingest NHS England A&E Attendances and Emergency Admissions
  https://www.england.nhs.uk/statistics/statistical-work-areas/ae-waiting-times-and-activity/""

# https://www.england.nhs.uk/statistics/wp-content/uploads/sites/2/2025/02/Monthly-AE-January-2025.csv

variables:
  id: "Monthly-AE-January-2025.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/Monthly-AE-January-2025.csv"
  data: "{{outputs.extract_monthly_csv.outputFiles['Monthly-AE-January-2025.csv']}}"

tasks:
  - id: extract_monthly_csv
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner: 
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://www.england.nhs.uk/statistics/wp-content/uploads/sites/2/2025/02/Monthly-AE-January-2025.csv -O {{ render(vars.id) }}
  
  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"


pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"